.body{
    background-color: #c0e0ef;
    margin: 0;
}


.first-section{
    width: 100%;
    height: 600px;
    margin-top: -5px;
}


.heading1{
    text-align: left;
    font-size: 50px;
    margin-left: 60px;
    font-family:'Courier New', Courier, monospace;
    padding-bottom: 5%;
}


.heading2{
    text-align: left;
    font-size: 80px;
    margin-left: 60px;
    font-family: Cochin;
    line-height: 0%;
}


.heading3{
    text-align: left;
    font-size: 80px;
    margin-left: 250px;
    font-family: cochin;
    line-height: 0%;
}


.about-me{
    text-align: left;
    font-size: 18px;
    margin-left: 5%;
    line-height: 200%;
    margin-right: 55%;
    font-weight: 550;
    font-family:'Courier New', Courier, monospace;
}


.white-bar{
    background-color: white;
    width: 100%;
    height: 100px;
    margin-top: 200px;
    margin-bottom: 100px;
    box-shadow:
    0 0 15px #c0e0ef, 
    0 0 15px #67c5f0,
    0 0 30px #38c0ff,
    0 0 40px #2fbcfd;
}


.heading1-2{
    text-align: center;
    font-size: 50px;
    margin-left: 60px;
    font-family:'Courier New', Courier, monospace;
    margin-left: 9%;
    margin-right: 9%;
}


.box{
    border: black 2px solid;
    border-radius: 15%;
    background-color: white;
    width: 220px;
    height: 200px;
    margin-top: 60px;
    text-align: center;
    font-family: cochin;
    line-height: 540%;
    font-size: 35px;
    box-shadow: 5px 5px 5px grey;
    font-weight:bold;
}


.box:hover{
    cursor: pointer;
    transform: scale(1.1);  
    transition: transform 0.5s;
    box-shadow: 10px 10px 5px grey;
    background-image: linear-gradient(180deg, rgb(255, 255, 255), #c0e0ef);
    box-shadow:
    0 0 15px #c0e0ef, 
    0 0 15px #67c5f0,
    0 0 30px #38c0ff,
    0 0 40px #2fbcfd;
}


.boxes{
    justify-content: space-evenly;
    align-items:center;
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;
    flex-wrap: wrap;
}


.laptop-container {
    position: relative;
    width: 500px;
    height: 430px; 
    margin-left:55%;
    margin-top: -20%;
}


.laptop-frame {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
}


.laptop-screen {
    position: absolute;
    top: 3%;
    left: 9%;
    width: 84%;
    height: 52%;
    border: none;
    background-color: #478fb4;
}


.contact-box{
    width: 150px;
    height: 60px;
    margin: 20px;
    text-align: center;
    line-height:200%;
    font-size:22px;
    font-weight:800;
    perspective: 1000px;
}


.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}


.contact-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}


.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border: black 1px solid;
    box-shadow: 0 0 5px #0ce0ef,
    0 0 10px #67c5f0,
    0 0 20px #75a6ff,
    0 0 35px #a4edfd;
    background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(142, 204, 255));
    font-size: 22px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden; 
    border-radius: 8px;
}


.flip-box-back {
    transform: rotateY(180deg);
}


.contact-label{
    text-decoration: none;
    color: black;
}


.contact-label:hover{
    text-decoration: underline;
}


.svg{
    width: 40px;
    height: 40px;
}


#underlining{
    font-size:12px;
    font-weight:200;
    margin-top: -10%;
}


.contact-boxes{
    justify-content: space-evenly;
    align-items:center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.project-section{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
    margin-left: 9%;
}


.navbar{
    background-color: #478fb4;
    position: relative;
    top: 0;
    width: 100%;
    margin-top:10%;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50px;
}


.bubble{
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    font-family: cochin;
    border: black 2px solid;
    border-radius: 20px;
    background-color: #c0e0ef;
}


.bubble-label{
    text-decoration: none;
    color: black;
}


.bubble:hover{
    cursor: pointer;
    transform: scale(1.1);  
    transition: transform 0.8s;
    text-decoration: underline;
    box-shadow:
    0 0 5px #c0e0ef, 
    0 0 10px #67c5f0,
    0 0 25px #38c0ff,
    0 0 35px #2fbcfd; 
}


.mini-nav{
    background-color: #c0e0ef;
    position: relative;
    height: 20px;
    width: 100%;
    left: 0;
    top: 0;
    border-bottom: black 2px solid;
    display: flex;
    gap: 10px;
    padding: 2px 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
}


.project-box{
    border: 2px solid hwb(0 0% 100%);
    border-radius: 20px;
    background-color: white;
    width: 600px;
    height: 150px;
    margin-top: 60px;
    text-align: left;
    font-family: cochin;
    line-height: 450%;
    font-size: 10px;
    box-shadow: 10px 10px 5px grey;
    margin-left: 20%;
    margin-right: 20%;
    align-self: center;
    background-image: linear-gradient(180deg, rgb(255, 255, 255), #c0e0ef);
}


.project-box:hover{
    cursor: pointer;
    box-shadow: 15px 15px 5px grey;
    background-image: linear-gradient(180deg, rgb(255, 255, 255), #c0e0ef);
    box-shadow:
    0 0 15px #c0e0ef, 
    0 0 15px #67c5f0,
    0 0 30px #38c0ff,
    0 0 40px #2fbcfd;
}


.title-box{
    display: flex;
    justify-content: center;
    border: black 2px solid;
    border-radius: 20px;
    width: 200px;
    height: 120px;
    text-align: center;
    font-family: cochin;
    line-height: 150%;
    font-size: 30px;
    float: left;
    box-shadow: 5px 5px 5px grey;
    margin: 2%;
}


.title{
    align-self: center;
    text-align: center;
    text-decoration: none;
    color: black;
}

.title:hover{
    text-decoration: underline;
}


.project-description{
    margin-left: 35%;
    margin-right: 1%;
    font-size: 16px;
    font-family: cochin;
    line-height: 160%;
}


.project-section{
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: left;
    margin-left: 9%;
}


@media screen and (max-width: 600px) {
    
    .body{
        margin: 0;
    }
    
    .laptop-container{
        display: none;
    }

    .heading1{
        font-size: 30px;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 2%;
    }

    .heading2{
        font-size: 40px;
        margin-left: 60px;
    }

    .heading3{
        font-size: 40px;
        margin-left: 150px;
    }

    .about-me{
        font-size: 16px;
        margin-right: 10%;
        margin-left: 10%;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 30%;
    }

    .white-bar{
        margin-top: -10%;
        width: 100%;
    }

    .boxes{
        margin-left: 5%;
        margin-right: 5%;
        gap: 20px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5%;
        margin-bottom: 10%;
    }
    .box{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100px;
        height: 100px;
        font-size: 20px;
        line-height: 500%;
        border-radius: 20%;
        font-weight:bold;

    }

    .heading1-2{
        font-size: 30px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: -10%;
        padding-bottom: 5%;
    }

    .project-section{
        margin: 0%;
    }

    .project-box{
        width: 320px;
        height:120px;
        margin-top: 60px;
        text-align: left;
        line-height: 450%;
        font-size: 22px;
        margin-left: 10%;
        margin-right: 25%;
        align-self: center;
    }

    .title-box{
        width: 90px;
        height: 90px;
        text-align: center;
        line-height: 350%;
        font-size: 22px;
        float: left;
        margin: 2%;
        margin-top: 4%;
    }

    .project-description{
        font-size: 14px;
        text-align: center;
        margin-top: 4%;
        margin-left: 10%;
        margin-right:5%;
    }

    .navbar{
    position: relative;
    width: 100%;
    margin-top:10%;
    height: 80px;
    gap: 15px;
    }

    .bubble{
        text-align: center;
        padding: 5px 10px;
        font-size: 18px;
        border: black 2px solid;
        border-radius: 10%;
    }
}